@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

html,
body {
  max-width: 100%;
  overflow-x: hidden;

  padding: 0px !important;
  height: 100vh;
  width: 100% !important;
  min-height: 100vh;
  letter-spacing: 1px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-image: linear-gradient(
    -225deg,
    #77a1d3 0%,
    #79cbca 56%,
    #e684ae 100%
  );

  padding: 1rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white !important;
}
.footer {
  background-image: linear-gradient(
    -225deg,
    #77a1d3 0%,
    #79cbca 56%,
    #e684ae 100%
  );
  margin-top: 2rem !important;
  bottom: 0;
  left: 0;
  color: white !important;
}

h1 {
  font-family: Bebas Neue, cursive !important;
  font-size: 50px !important;
  text-align: center;
  margin: 0px !important;
  letter-spacing: 3px;
}

h3 {
  text-align: center;
  font-family: "Shadows Into Light Two", cursive !important;
  font-size: 30px !important;
}
p {
  font-family: Roboto !important;
}

.shadowsFont {
  font-family: "Shadows Into Light Two", cursive !important;
  font-size: 40px !important;
  text-align: center;
  margin: 2rem !important;
}

.nav {
  display: flex !important;
  justify-content: center !important;
}

.nav-link {
  color: white !important;
}

.nav-link.active {
  background-color: transparent !important;
}

.navItem {
  color: white !important;
}

.nav-tabs {
  border-bottom: 0px !important;
}

.gel {
  width: 340px;
  height: 455px;
  object-fit: cover;
}

.aboutCont {
  padding: 1rem 5rem 1rem 5rem !important;
}

.about {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 3rem;
}

.image {
  width: 440px !important;
  height: 310px !important;
  object-fit: cover !important;
}

.projectCont {
  display: flex !important;
  padding: 1rem 0px !important;
}

.projects {
  animation-duration: 3s;
  animation-name: slidein;

  animation-direction: alternate;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.rgtProjectRow {
  border-radius: 25px 0px 0px 25px;
  max-width: 80% !important;
  /* border: rgb(216, 191, 203) 4px solid;
}
.RGT,
.RGTCard {
  display: flex;
  /* flex-direction: row-reverse; */
  /* justify-content: end !important; */
  border-radius: 0px 25px 25px 0px;
}

.lftProjectRow {
  border-radius: 0px 25px 25px 0px;
  flex-direction: row-reverse !important;
  max-width: 80% !important;
  /* border: rgb(191, 211, 216) 4px solid; */
}

.project {
  display: flex !important;
  justify-content: center !important;
}

.card {
  background-color: transparent !important;
  border: 0px !important;
}
.SB,
.SBCard {
  justify-content: flex-end;
}

.borderCard {
  border: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
  }
}

.social {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.socialicon {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.icons {
  display: flex;
  justify-content: center;
}

a {
  color: black !important;
}

.lead {
  display: flex;
  align-items: center;
}

tr {
  border-color: white !important;
}

.col-sm {
  display: flex;
  justify-content: center;
  padding: 0px !important;
  margin: 0px !important;
}

.badges {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.col-md-2 {
  display: flex;
  justify-content: center;
}
